<!DOCTYPE html>
<html>
<head>
	<title>登录页</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__STATIC__/eye_admin/css/l.css">
	<script type="text/javascript" src="__STATIC__/eye_admin/js/jquery.min.js"></script>
</head>
<body>
	<form method="POST" action="{:url('eye_admin1/login/login_deal')}" method="POST">
		<div class="box">
			<div class="white">登录：</div>
			<div class="white mt-16">眼科之家后台</div>
			<div class="mt-16">
				<input name="username" class="inp" type="text" placeholder="用户名">
			</div>
			<div class="mt-16">
				<input name="password" class="inp" type="password" placeholder="密码">
			</div>
			<div>
				<input type="text" name="code" placeholder="验证码" style="height: 25px; margin-top: 10px; margin-bottom: 10px;">
				<div>
					<img src="{:captcha_src()}?t=shijiancuo"  alt="captcha" />
					<a class="code_a">看不清楚,换一张</a>
				</div>
			</div>	
			<input class="mt-16 btn" type="submit" value="登录">
		</div>
	</form>
	<script type="text/javascript">
		$(".code_a").click(function(){
			target = $(this).parent().find('img');
			target.attr('src',"{:captcha_src()}?t="+(new Date().getTime()))
		})
	</script>
</body>
</html>
